/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/overpass-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/overpass-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
    --Orange-500: hsl(25, 97%, 53%);
    --White: hsl(0, 100%, 100%);
    --Grey-500: hsl(217, 12%, 63%);
    --Grey-900: hsl(213, 19%, 18%);
    --Grey-950: hsl(216, 12%, 8%);
}

*, *::after, *::before{
     box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: var(--Grey-950);
}

.wrapper{
  display: grid;
}

.icon-star-container{
  background-color: var(--Grey-500);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: flex;
  /* text-align: center;   */

  justify-content: center;
  align-items: center;
}

img{
  max-width: 100%;
  height: auto;
  
}

.container{
  background-color: var(--Grey-900);
  /* display: grid; */
  height: 375px;
  width: 375px;
  border-radius: 10%;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.rate-buttons{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  /* margin: 2.5rem; */
}

.one,.two,.three,.four,.five{
  background-color: var(--Grey-500);
  height: 2.8rem;
  width: 2.8rem;
  /* margin: 0.7rem; */
  border: 0;
  /* padding: 0.5rem; */
  border-radius: 100%;
  align-self: center;
  color: var(--White);
  opacity: 2;

}

.submit{
  background-color: var(--Orange-500);
  border: 0;
  margin: 2.5rem;
  margin-left: 0;
  margin-right: 0;
  border-radius: 2rem;
  height: 2.5rem;
  width: 20rem;
}

p, h1{
  color: var(--White);
}

h1{
  font-weight: 700;
}
p{
  font-weight: 400;
}

